In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [56]:
df = pd.read_csv("Data_with_missing_values.csv")

In [65]:
df.describe

<bound method NDFrame.describe of    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes>

In [59]:
data = [go.Bar(
            x= df.Age,
            y= df.Salary
    )]

iplot(data, filename='basic-bar')

# Imputing values

In [191]:
from sklearn.impute import SimpleImputer

In [215]:
def get_values(strateg):
    all_vals = df[["Age","Salary"]].values
    indexing = df.index
    imp_mean = SimpleImputer(missing_values=np.nan, strategy=strateg)
    transformed = imp_mean.fit_transform(all_vals)
    gen_df = pd.DataFrame(data=transformed,index=indexing, columns=["Age","Salary"])
    print(gen_df.iloc[4:7])

## SimpleImputer

### strategies

If <b>“mean”</b>, then replace missing values using the mean along each column. Can only be used with numeric data. <br>
If <b>“median”</b>, then replace missing values using the median along each column. Can only be used with numeric data. <br>
If <b>“most_frequent”</b>, then replace missing using the most frequent value along each column. Can be used with strings or numeric data. <br>
If <b>“constant”</b>, then replace missing values with fill_value. Can be used with strings or numeric data. <br>

In [214]:
strategies = ["mean","median","most_frequent","constant"]

In [218]:
for st in strategies:
    print("#### "+st+" ####")
    get_values(st)

#### mean ####
         Age        Salary
4  40.000000  63777.777778
5  35.000000  58000.000000
6  38.777778  52000.000000
#### median ####
    Age   Salary
4  40.0  61000.0
5  35.0  58000.0
6  38.0  52000.0
#### most_frequent ####
    Age   Salary
4  40.0  48000.0
5  35.0  58000.0
6  27.0  52000.0
#### constant ####
    Age   Salary
4  40.0      0.0
5  35.0  58000.0
6   0.0  52000.0

In [ ]:
df.interpolate()